.main {
    width: 100%;
    color: var(--item-font-normal);

    &-container {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .articles-container {
        visibility: hidden;
    }

    &-articles {
        width: 85%;
        @include breakpoint-up(medium){
            width: 550px;
        }
    }

    &-input {
        margin-bottom: 0.9375rem;
        background: var(--background-item);
        border-radius: 0.3125rem;

        input {
            background: var(--background-item);
            color: var(--item-font-normal);
            border: none;
            height: 1.875rem;
            width: 90%;
            font-size: $font-xm;
            &:focus {
                outline: none;
            }
        }

        @include breakpoint-up(large) {
            margin-bottom: 1.25rem;
        }
    }

    &-item-container {
        height: auto;
        background: var(--background-item);
        border-radius: 0.3125rem;
        display: flex;
        flex-flow: column nowrap;
    }

    &-article {
        
        height: 3.125rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-size: $font-xm;

        .article-text {
            margin-right: 1.25rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        @include breakpoint-up(large) {
            height: 4.0625rem;
        }
    }

    &-item {
        border-bottom: 0.0625rem solid var(--item-border-bottom);
        cursor: move;
    }

    //Sortable

    &-selection{
        /* transform: scale(1.02) rotate(-1deg); */
        /* border: 1px solid var(--item-border-bottom); */
        
        /* box-shadow: 0px 0px 20px rgba(149, 153, 159, .16); */
        transform: scale(1.0);
        background-color: var(--background-on-drag);
    }

    &-drag{
        opacity: 0;

    }

    &-footer {
        border-bottom-left-radius: 0.3125rem;
        border-bottom-right-radius: 0.3125rem;
        background-color: var(--background-item);
        font-size: $font-sm;
        color: var(--item-font-light);
        height: 3.125rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        @include breakpoint-up(large) {
            height: 4.0625rem;
        }
        #main-left-items {
            margin-left: 1.25rem;
        }
        #clear-btn {
            margin-right: 1.25rem;
        }
        p {
            &:hover {
                color: var(--item-font-hover);
                cursor: pointer;
            }
        }
        div {
            p:not(:last-child) {
                margin-right: 1.5625rem;
            }
            p {
                display: inline;
                &:hover {
                    color: var(--item-font-hover);
                    cursor: pointer;
                }
            }
        }
    }

    &-final {
        color: var(--item-font-light);
        font-size: $font-sm;
        width: 100%;
        height: 3.125rem;
        margin-top: 0.9375rem;
        border-radius: 0.3125rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background: var(--background-item);
        p:not(:last-child) {
            margin-right: 1.5625rem;
        }
        @include breakpoint-up(large) {
            height: 4.0625rem;
        }
        p {
            &:hover {
                color: var(--item-font-hover);
                cursor: pointer;
            }
        }
    }

    &-circle {
        cursor: pointer;
        width: 1.25rem;
        height: 1.25rem;
        background-size: cover;
        background-position: center;
        border: 0.0625rem solid var(--item-border-bottom);

        border-radius: 1.25rem;
        margin-left: 1.25rem;
        margin-right: 0.9375rem;
        @include breakpoint-down(medium) {
            height: 1rem;
        }
        &:hover {
            /*  border: 2px solid transparent;
            border-image: $gradient-check-background 1 100%;
            border-width: 2px; */
        }
    }

    &-check {
        display: none;
    }

    .complete {
        p {
            color: var(--item-font-complete);
            text-decoration-line: line-through;
        }
        .main-circle {
            cursor: default;
            background-image: $gradient-check-background;
            background-size: cover;

            .main-check {
                display: inline;
                margin-left: 0.25rem;
            }
        }
    }

    .cross-img{
        height: 1.25rem;
        width: 1.25rem;
        
        cursor: pointer;
    }
    .selected {
        color: $blue;
    }

    .show-container {
        visibility: visible;
    }
    /* .hide-container{
        visibility: hidden;
    }
 */
}
