//light Theme

$very-light-gray: hsl(0, 0%, 98%);
$very-light-grayish-blue: hsl(236, 33%, 92%);
$light-grayish-blue: hsl(233, 11%, 84%);
$dark-grayish-blue: hsl(236, 9%, 61%);
$very-dark-grayish-blue: hsl(235, 19%, 35%);
$background-light-img: url(../../images/bg-desktop-light.jpg);
$moon-image: url('../../images/icon-moon.svg');
$moon-img-hover: url('../../images/icon-moon-light.svg');
$blue: hsl(235, 73%, 64%);

//dark Theme

$very-dark-blue: hsl(235, 21%, 11%);
$very-dark-desaturated-blue: hsl(235, 24%, 19%);
$light-grayish-blue: hsl(234, 39%, 85%);
$light-grayish-blue-hover: hsl(236, 33%, 92%);
$dark-grayish-blue: hsl(234, 11%, 52%);
$very-dark-grayish-blue: hsl(233, 14%, 35%);
$very-dark-grayish-blue-hover: hsl(237, 14%, 26%);
$background-dark-img: url(../../images/bg-desktop-dark.jpg);
$sun-image: url('../../images/icon-sun.svg');
$sun-img-hover: url('../../images/icon-sun-light.svg');
$on-drag-item: hsl(233, 12%, 14%);

//gradient
$gradient-check-background: linear-gradient(to left, #76bdff, #9f74e7);

//font sizes

$font-lg:35px;
$font-xm: 1.25rem;
$font-sm: 1rem;


$aaa:#e6e61b;


 
 
 

/* $background-main-color: $very-light-grayish-blue;
$background-item: $very-light-gray;
$item-border-bottom: $light-grayish-blue;
$item-font-normal: $very-dark-grayish-blue;
$item-font-complete: $light-grayish-blue;
$item-font-light: $dark-grayish-blue; */
      





